.carre_1 {
    background-color: #25292c;
    color: rgba(185, 182, 176, 255);
}

.border1 {
    border-color: #25292c !important;
}

img.img-fluid {
    width: 900px;
    height: 450px;
}

.titre_partie {
    background-color: #45494d;
    border-radius: 15px;
    padding: 9px 20px 12px;
    transform: matrix(1.07, 0, 0, 1, 0, 25);
    max-width: 75%;
    color: #fff;

}