<!-- Footer -->

<footer
	class="text-center text-lg-start bg-dark text-muted">

	<!-- Réseaux sociaux -->
	<section
		class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
		<!-- Gauche -->
		<div class="me-5 d-none d-lg-block">
			<span>Rejoignez-nous sur les réseaux sociaux :</span>
		</div>
		<!-- Gauche - end -->

		<!-- Droite -->
		<div>

			<i class="fab fa-facebook-f">
				<a href="" class="me-4 text-reset"></a>
			</i>

			<a href="#" class="me-4 text-reset">
				<i class="fa-brands fa-twitter"></i>
			</a>


			<i class="fab fa-google">
				<a href="" class="me-4 text-reset"></a>
			</i>


			<i class="fab fa-instagram">
				<a href="" class="me-4 text-reset"></a>
			</i>


			<i class="fab fa-linkedin">
				<a href="" class="me-4 text-reset"></a>
			</i>


			<i class="fab fa-github">
				<a href="" class="me-4 text-reset"></a>
			</i>

		</div>
		<!-- Droite - end -->
	</section>
	<!-- Section: Social media -->

	<!-- Section: Links  -->
	<section class="">
		<div
			class="container text-center text-md-start mt-5">
			<!-- Grid row -->
			<div
				class="row mt-3">
				<!-- Grid column -->
				<div
					class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<!-- Content -->
					<h6 class="text-uppercase fw-bold mb-4">
						<i class="fas fa-gem me-3"></i>Le Refuge des Combattants
					</h6>
					<p>
						Le Refuge des Combattants est présent pour vous donner confiance en nous et en vous-même ! Vous êtes l'unique raison de notre présence sur internet. Nous sommes une plateforme créer par Matéo Bianco.
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->

				<!-- Grid column -->

				<!-- Grid column -->
					<div
					class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4"> <!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Les liens utiles
					</h6>
					<p>
						<a href="{{ path("app_about_us")}}" class="text-reset">A propos de nous</a>
					</p>
					<p>
						<a href="{{ path("app_contact")}}" class="text-reset">Contactez-nous !</a>
					</p>
					<p>
						<a href="{{ path("app_cgv")}}" class="text-reset">Mentions Legales</a>
					</p>
					<p>
						<a href="{{ path("app_devienscoach")}}" class="text-reset">Deviens coach</a>
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div
					class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Contact
					</h6>
					<p>
						<i class="fas fa-home me-3"></i>
						Paris, 75014, FRANCE</p>
					<p>
						<i class="fas fa-envelope me-3"></i>
						lerefuge@gmail.fr
					</p>
					<p>
						<i class="fas fa-phone me-3"></i>
						+ 33 1 65 42 58 75</p>
					<p>
						<i class="fab fa-github me-3"></i>
						https://github.com/MateoB91</p>
				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
	</section>
	<!-- Section: Links  -->

	<!-- Copyright -->
	<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2022 Copyright:
		<a class="text-reset fw-bold" href="https://lerefugedescombattants.com/">Le Refuge Des Combattants</a>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->
