{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}


{% block title %}Nouveau produit
{% endblock %}

{% block body %}
	<h1>Créer une Formule ou un nouveau programme</h1>

	{{ include('admin/produit/_form.html.twig') }}
	{# {{form(form)}} #}
	<a href="{{ path('app_nos_tarifs') }}">back to list</a>
{% endblock %}
