{% extends 'base.html.twig' %}

{% block title %}A propos de nous !
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link href="{{ asset('css/aboutus.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}

	<section class="aboutus pt-4 text-center">
		<section class="container py-5">
			<div class="border-bottom border-3 border1 pb-5">
				<div class="col-12 w-50 mx-auto div_presentation">
					<h1 class="fs-2 border-bottom border-3 pb-3 mb-5">A propos du Refuge !</h1>
				</div>
				<div class="row align-items-center gx-5">
					<div class="col-12 col-md-6 carre_1 p-4">
						<h2>Qui sommes-nous ?</h2>
						<p class="lead">Le Refuge des Combattants, nous sommes une plateforme regroupant des coachs sportifs sur tout le territoire français qui viennent en aide aux personnes en difficulté ou non dans le domaine sportif et de la santé en physique ou à distance. Créer en 2021, nous sommes fier de vous proposer nos services dans toute la France, toute la population mérite bien d'avoir une santé exemplaire, et une forme physique digne d'un super-héros. Malgré tout c'est ce que vous êtes, le super-héros de votre propre vie ! Alors prenez soin de vous !
						</p>
					</div>
					<div class="col-12 col-md-6 col-lg-6 pe-5 mt-3">
						<img class="img-fluid img-thumbnail img_about_us_1" src="{{ asset('images/img_aboutus1.jpg') }}" alt="img_about_1">
					</div>
				</div>
			</div>


			<div class="container py-5">
				<div class="border-bottom border-3 border1 pb-5">
					<div class="row justify-content-center gx-5">
						<div class=" col-12 col-md-6 carre_1 p-4">
							<h2>Foire aux questions !</h2>
							<ol class="list-group">
								<br>
								<li class="list-group-item mt-2">Qu’est-ce que le coaching ?</li>
								<p class="lead my-3">C’est un accompagnement personnalisé qui répond à vos besoins d’amélioration personnelle. Le coaching vous permet d’atteindre l’objectif que vous vous êtes fixés. Il permet aussi de dépasser vos blocages et de repérer vos propres clés de réussite.</p>
								<li class="list-group-item">Pourquoi se faire accompagner par un coach professionnel ?</li>
								<p class="lead my-3">Nous avons parfois le sentiment que seul nous ne parviendrons pas à avancer vers l’objectif que nous nous sommes fixés et nous avons alors besoin d’être boosté. Un coach professionnel est un guide, un accompagnateur qui aide à y voir plus clair pour notamment gérer efficacement un changement. Un coach professionnel répond à un code de déontologie.</p>
								<li class="list-group-item">Combien dure une séance et combien en faut-il ?</li>
								<p class="lead my-3">Chaque séance dure une heure. Un processus de coaching peut prendre du temps et sa durée varie d’un coach à l’autre. Cela dépend de votre situation et de votre motivation. En règle générale, le processus de coaching dure entre 3 séances et 10 séances.</p>
								<li class="list-group-item">Quand est-ce que le coaching prend-il fin ?</li>
								<p class="lead my-3">Le coaching prend fin quand votre objectif est atteint et quand vous vous sentez assez autonome. Nous prévoyons alors une séance de clôture qui marque la fin du processus de coaching. En cours de séances, il n’est pas rare que mes coachés se découvrent un nouvel objectif. Dans ce cas, nous démarrons alors un nouveau processus de coaching.</p>
								<li class="list-group-item">Qui sont nos coachs sportifs ?</li>
								<p class="lead my-3">Nos coachs sportifs font partit de vous ! Eh oui n'importe qui d'entre vous peut postuler en tant que coach sportif pour faire partie de notre équipe. La seule condition est d'avoir les compétences et les diplômes requis
								</p>
							</ol>
						</div>
					</div>
				</div>
			</div>


			<div class="container py-5">
				<div class="pb-5">
					<div class="col-12 w-50 mx-auto div_presentation">
						<h1 class="fs-2 border-bottom border-3 pb-3 mb-5">Deviens coach sportif !</h1>
					</div>
					<div class="row align-items-center gx-5">
						<div class="col-12 col-md-6 col-lg-6 pe-5 mb-3">
							<img class="img-fluid img-thumbnail img_about_us_1" src="{{ asset('images/coach_about_us2.jpg') }}" alt="img_about_2">
						</div>
						<div class="col-12 col-md-6 carre_1 p-4">
							<h2>Contribue à nos réussites</h2>
							<p class="lead">Le Refuge des Combattants, recrute des coachs sportifs dans toute la France. N'hésite pas et tente ta chance ! Les conditions et les compétences nécessaires vous seront communiqués suite à votre candidature.
							</p>
							<div class="text-center">
								<a type="button" class="btn btn_home_bg btn-lg bg-light" href="{{ path("app_devienscoach") }}">
									<h3 class="h3_btn_bg">Franchissez le cap !</h3>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
